.flex_box{
    flex-direction: column;
    justify-content: space-around;
     }

    .col{
    width: 50%;
    padding-top: 24px;
    }

    .border{
        margin: 50px 30px 0 50px; 
        width: 550px;
             }

     .border h3{
     margin-left: 150px;
     font-size:25px;
     }
 
  .line{
    background: lightgray;
    width: 520px;
    text-align: center;
   
  }
