.flex_box{
  justify-content: space-between;
  flex-flow: wrap;
  padding-top: 24px;
  margin-left: 20px;
  }

.col{
  
  width: 30%;
  overflow: hidden;
  

  
}


.message{
  margin: 130px 0 35px 200px;
  width: 300px;

 }
 
  


  