.flex_box{

  flex-flow: wrap;
  padding-top: 24px;
  margin-left: 20px;
 

 
  }

.col{
  
  width: 25%;
  flex-direction: center;
  flex-direction: row;
}
.mode {
  border: 2px solid black; 
  width: 204px;
  border-radius: 6px;
  
}
.name {
  border: 2px solid black; 
  width: 154px;
  border-radius: 6px;
 
}
.button{
  border: 2px solid black; 
  width: 50px;
  border-radius: 6px;
}



.message{
  margin: 130px 0 35px 200px;
  width: 300px;

 }
 
  


  